<!-- START @PAGE CONTENT -->
<section id="page-content">

  <!-- Start page header -->
  <!-- /.header-content -->
  <!--/ End page header -->

  <!-- Start body content -->
  <div class="body-content animated fadeIn">

    <div class="row">

      <div class="col-md-12 text-center">

        <h1>BIENVENUE SUR MABOUTIQUE</h1></br>

      </div>


    </div>

    <div class="row">

      <div class="col-md-3 text-center">

        <H2>Etape 1</H2>

      </div>

      <div class="col-md-3 text-center">

        <H2>Etape 2</H2>

      </div>

      <div class="col-md-3 text-center">

        <H2>Etape 3</H2>

      </div>

      <div class="col-md-3 text-center">

        <H2>Etape 4</H2>

      </div>


    </div>

    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="panel rounded shadow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
          </div>
          <!--/ End ribbon wrapper -->
          <div class="panel-body text-center bg-teal rounded">
            <div class="text-muted">
              <i class="fa fa-4x fa-user"></i>
            </div>
            <h2 class="text-strong">Editer mon profil</h2>
            <a href="/account" class="btn btn-warning btn-alt mb-5">Vers l'édition</i></a>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="panel rounded shadow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
          </div>
          <!--/ End ribbon wrapper -->
          <div class="panel-body text-center bg-teal rounded">
            <div class="text-muted">
              <i class="fa fa-4x fa-user"></i>
            </div>
            <h2 class="text-strong">Ajouter un client</h2>
            <a href="/contact/new" class="btn btn-warning btn-alt mb-5">Vers l'ajout</i></a>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="panel rounded shadow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
          </div>
          <!--/ End ribbon wrapper -->
          <div class="panel-body text-center bg-teal rounded">
            <div class="ribbon-wrapper">
              <div class="ribbon">Bientôt</div>
            </div>
            <div class="text-muted">
              <i class="fa fa-4x fa-paper-plane-o"></i>
            </div>
            <h2 class="text-strong">Envoyer Mail</h2>
            <button class="btn btn-warning btn-alt mb-5" disabled="disabled">Vers l'envoi mail</button>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div>


      <div class="col-md-3 col-sm-6">
        <div class="panel rounded shadow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
            <div class="ribbon">Bientôt</div>
          </div>
          <!--/ End ribbon wrapper -->
          <div class="panel-body text-center bg-teal rounded">
            <div class="text-muted">
              <i class="fa fa-4x fa-bullhorn"></i>
            </div>
            <h2 class="text-strong">Envoyer SMS</h2>
            <button class="btn btn-warning btn-alt mb-5" disabled="disabled">Vers l'envoi SMS</button>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div>

    </div>


    <div class="row">

      <div class="col-md-3 col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: rgb(251, 251, 251);color: rgb(0, 177, 225);border: 0;">
            <h3 class="panel-title"><b>Pourquoi compléter mon profil?</b></h3>
          </div><!-- /.panel-heading -->
          <div class="panel-body" style="min-height: 83px;">
            Ajouter les information essentiel à la facturation pour une utilisation complète du logiciel.
          </div><!-- /.panel-body -->
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: rgb(251, 251, 251);color: rgb(0, 177, 225);border: 0;">
            <h3 class="panel-title"><b>Pourquoi compléter votre fichier client?</b></h3>
          </div><!-- /.panel-heading -->
          <div class="panel-body" style="min-height: 83px;">
            Alimentez votre fichier client pour pouvoir leur annoncer vos offres.
          </div><!-- /.panel-body -->
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: rgb(251, 251, 251);color: rgb(0, 177, 225);border: 0;">
            <h3 class="panel-title"><b>Vos Emails</b></h3>
          </div><!-- /.panel-heading -->
          <div class="panel-body" style="min-height: 83px;">
            Composez facilement des e-mails avec photos pour susciter l'envie, annoncer vos promotions du moment et évènements.
          </div><!-- /.panel-body -->
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: rgb(251, 251, 251);color: rgb(0, 177, 225);border: 0;">
            <h3 class="panel-title"><b>Vos SMS</b></h3>
          </div><!-- /.panel-heading -->
          <div class="panel-body" style="min-height: 83px;">
            La campagne la plus percutante....quelques mots, une offre pour relancer votre activité.
          </div><!-- /.panel-body -->
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-teal rounded shadow no-overflow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
            <div class="ribbon ribbon-danger ribbon-shadow">Bientôt</div>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">MAIL ANNIVERSSAIRE</h3>
          </div><!-- /.panel-heading -->
          <!--/ End ribbon wrapper -->
          <div class="panel-body ">
            <p>Composez un e-mail qui sera envoyé automatiquement aux dates d'anniversaires de vos clients.<button type="button" class="btn btn-primary btn-lg pull-right" disabled="disabled">Configurer le mail d'anniversaire</button></p>
            <p>Une bonne occasion de vous rappeler à eux et d'en profiter pour faire une mise en avant !</p>
          </div><!-- /.panel-body -->
        </div>
      </div>
    </div>

  </div><!-- /.body-content -->
  <!--/ End body content -->

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->
