<link href="/css/components.css" rel="stylesheet">


<body class="page-sound" style="display: block;">

  <!-- START @WRAPPER -->
  <section id="wrapper" style="opacity: 1;">

    <!-- START @HEADER -->
    <header id="header">

      <!-- Start header left -->
      <div class="header-left">
        <!-- Start offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
        <div class="navbar-minimize-mobile left">
          <i class="fa fa-bars"></i>
        </div>
        <!--/ End offcanvas left -->

        <!-- Start navbar header -->
        <div class="navbar-header">

          <!-- Start brand -->
          <a class="navbar-brand" href="/dashboard">
            <img src="/assets/logo-ma-boutique.png" alt="brand logo" id="logo-header"/>
          </a><!-- /.navbar-brand -->
          <!--/ End brand -->

        </div><!-- /.navbar-header -->
        <!--/ End navbar header -->

        <!-- Start offcanvas right: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
        <div class="navbar-minimize-mobile right">
          <i class="fa fa-cog"></i>
        </div>
        <!--/ End offcanvas right -->

        <div class="clearfix"></div>
      </div><!-- /.header-left -->
      <!--/ End header left -->

      <!-- Start header right -->
      <div class="header-right">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
        <% end %>
        <!-- Start navbar toolbar -->
        <!-- /.navbar-toolbar -->
        <!--/ End navbar toolbar -->
      </div><!-- /.header-right -->
      <!--/ End header left -->

    </header> <!-- /#header -->
    <!--/ END HEADER -->

    <aside id="sidebar-left" class="sidebar-circle">

      <!-- Start left navigation - profile shortcut -->
      <div class="sidebar-content">

        <div class="media">
          <a class="pull-left has-notif avatar" href="/account">
            <img src="/assets/avatar.png" alt="admin">
            <i class="online"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Bonjour,</h4>
            <small>&nbsp;</small>
          </div>
        </div>
      </div><!-- /.sidebar-content -->
      <!--/ End left navigation -  profile shortcut -->

      <!-- Start left navigation - menu -->
      <ul class="sidebar-menu">
        <!-- Start navigation - frontend themes -->
        <li>
          <a href=<%= dashboard_path %>>
            <span class="icon"><i class="fa fa-leaf"></i></span>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <!--/ End navigation - frontend themes -->

        <!-- Start navigation - frontend themes -->
        <li>
          <a href=<%= new_contact_path %>>
            <span class="icon"><i class="fa fa-leaf"></i></span>
            <span class="text">Ajouter un contact</span>
          </a>
        </li>
        <!--/ End navigation - frontend themes -->

        <!-- Start navigation - dashboard -->
        <li class="sidebar-category">
          <span>Envoyer des emails</span>
          <span class="pull-right"><i class="fa fa-rocket"></i></span>
        </li>

        <!-- <li>
        <a href="/contact/send_email">
        <span class="icon"><i class="fa fa-home"></i></span>
        <span class="text">Envoyer des emails</span>
      </a>
    </li> -->
    <!--/ End navigation - dashboard -->

    <!-- Start navigation - landing -->
    <li class="sidebar-category">
      <span>Envoyer des sms</span>
      <span class="pull-right"><i class="fa fa-rocket"></i></span>
    </li>

    <!-- <li>
    <a href="#">
    <span class="icon"><i class="fa fa-rocket"></i></span>
    <span class="text">Envoyer des sms</span>
  </a>
</li> -->
<!--/ End navigation - landing -->
    <li class="sidebar-category" style="margin-top:75px;">
      <span>Informations</span>
    </li>

    <li class="sidebar-minimize">
      <a>
        <span class="icon"><i class="fa fa-group"></i></span>
        <span class="text">452 Contacts</span>
      </a>
    </li>
    <li class="sidebar-minimize">
      <a>
        <span class="icon"><i class="fa fa-mobile"></i></span>
        <span class="text">452 CONTACT TEL</span>
      </a>
    </li>
    <li class="sidebar-minimize-end">
      <a>
        <span class="icon"><i class="fa fa-money"></i></span>
        <span class="text">452 CREDITS SMS</span>
      </a>
    </li>

</ul><!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->

<!-- Start left navigation - footer -->
<!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->

</aside><!-- /#sidebar-left -->
<!--/ END SIDEBAR LEFT -->

<!-- START @PAGE CONTENT -->
<section id="page-content">

  <!-- Start page header -->
  <!-- /.header-content -->
  <!--/ End page header -->

  <!-- Start body content -->
  <div class="body-content animated fadeIn">

    <div class="row">

      <div class="col-md-12 text-center">

        <h1>BIENVENUE SUR MABOUTIQUE</h1></br>

      </div>


    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6">
        <div class="panel rounded shadow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
          </div>
          <!--/ End ribbon wrapper -->
          <div class="panel-body text-center bg-teal rounded">
            <div class="text-muted">
              <i class="fa fa-4x fa-user"></i>
            </div>
            <h2 class="text-strong">Ajouter un client</h2>
            <button class="btn btn-warning btn-alt mb-5">Vers l'ajout</i></button>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="panel rounded shadow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
          </div>
          <!--/ End ribbon wrapper -->
          <div class="panel-body text-center bg-teal rounded">
            <div class="text-muted">
              <i class="fa fa-4x fa-paper-plane-o"></i>
            </div>
            <h2 class="text-strong">Envoyer Mail</h2>
            <button class="btn btn-warning btn-alt mb-5">Vers l'envois mail</button>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div>


      <div class="col-md-4 col-sm-6">
        <div class="panel rounded shadow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
          </div>
          <!--/ End ribbon wrapper -->
          <div class="panel-body text-center bg-teal rounded">
            <div class="text-muted">
              <i class="fa fa-4x fa-bullhorn"></i>
            </div>
            <h2 class="text-strong">Envoyer SMS</h2>
            <button class="btn btn-warning btn-alt mb-5">Vers l'envois SMS </button>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div>

    </div>


    <div class="row">

      <div class="col-md-4 col-sm-3">

        <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: rgb(251, 251, 251);color: rgb(0, 177, 225);border: 0;">
            <h3 class="panel-title"><b>Pourquoi compléter votre fichier client?</b></h3>
          </div><!-- /.panel-heading -->
          <div class="panel-body" style="min-height: 83px;">
            Alimentez votre fichier client pour pouvoir leur annoncer vos offres pour susciter l'envie de revenir chez vous.
          </div><!-- /.panel-body -->
        </div>


      </div>

      <div class="col-md-4 col-sm-3">

        <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: rgb(251, 251, 251);color: rgb(0, 177, 225);border: 0;">
            <h3 class="panel-title"><b>Vos Emails</b></h3>
          </div><!-- /.panel-heading -->
          <div class="panel-body" style="min-height: 83px;">
            Composez facilement des e-mails avec photos pour susciter l'envie, annoncer vos promotions du moment et évènements.
          </div><!-- /.panel-body -->
        </div>


      </div>

      <div class="col-md-4 col-sm-3">

        <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: rgb(251, 251, 251);color: rgb(0, 177, 225);border: 0;">
            <h3 class="panel-title"><b>Vos SMS</b></h3>
          </div><!-- /.panel-heading -->
          <div class="panel-body" style="min-height: 83px;">
            La campagne la plus percutante....quelques mots, une offre pour relancer votre activité.

          </div><!-- /.panel-body -->
        </div>


      </div>


    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-teal rounded shadow no-overflow">
          <!-- Start ribbon wrapper -->
          <div class="ribbon-wrapper">
            <div class="ribbon ribbon-danger ribbon-shadow">Important</div>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">MAIL ANNIVERSSAIRE</h3>
          </div><!-- /.panel-heading -->
          <!--/ End ribbon wrapper -->
          <div class="panel-body ">
            <p>Composez un e-mail qui sera envoyé automatiquement aux dates d'anniversaires de vos clients.<button type="button" class="btn btn-primary btn-lg pull-right">Configurer le mail d'anniverssaire</button></p>
            <p>Une bonne occasion de vous rappelez à eux et d'en profiter pour faire une mise en avant !</p>

          </div><!-- /.panel-body -->
        </div>

      </div>


    </div>

  </div><!-- /.body-content -->
  <!--/ End body content -->

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->

<!-- START @SIDEBAR RIGHT -->
<aside id="sidebar-right">

  <div class="panel panel-tab">
    <div class="panel-heading no-padding">
      <div class="pull-right">
        <ul class="nav nav-tabs">
          <li>
            <a href="#sidebar-profile" data-toggle="tab">
              <i class="fa fa-user"></i>
            </a>
          </li>
          <li>
            <a href="#sidebar-layout" data-toggle="tab">
              <i class="fa fa-cogs"></i>
            </a>
          </li>
          <li class="active">
            <a href="#sidebar-setting" data-toggle="tab">
              <i class="fa fa-paint-brush"></i>
            </a>
          </li>
          <li>
            <a href="#sidebar-chat" data-toggle="tab">
              <i class="fa fa-comments"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>

</aside><!-- /#sidebar-right -->
<!--/ END SIDEBAR RIGHT -->

</section><!-- /#wrapper -->

</body>
