<% unless devise_error_messages!.empty? %>
  <div class="alert alert-warning">
    <%= devise_error_messages! %>
  </div>
<% end %>
<body class="page-sound bg-light">

    <!-- START @WRAPPER -->
    <section id="wrapper">

        <!-- START @SIGN WRAPPER -->
        <div class="sign-wrapper">

            <!-- Brand -->
            <div class="brand animated fadeInDown">
                <img src="/assets/logo-ma-boutique.png" alt="brand logo"/>
            </div>
            <!--/ Brand -->

            <!-- Register form -->
            <%= form_tag("/signup", {id: "/login", class: "form-horizontal animated zoomIn shadow rounded"}) do |f| %>
                <div class="sign-header">
                    <div class="form-group">
                        <div class="sign-text">
                            <span>Créer un compte</span>
                        </div>
                    </div>
                </div>
                <div class="sign-body">
                  <div class="form-group">
                    <div class="input-group input-group-lg rounded">
                      <input type="email" class="form-control" placeholder="Votre email" name="user[email]" required>
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg rounded">
                      <input type="password" class="form-control" placeholder="Votre mot de passe" name="user[password]" required>
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg rounded">
                      <input type="password" class="form-control" placeholder="Confirmer votre mot de passe" name="user[password_confirmation]" required>
                      <span class="input-group-addon"><i class="fa fa-check"></i></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg rounded">
                      <input type="text" class="form-control" placeholder="Votre numéro de téléphone" name="user[phone]" required>
                      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    </div>
                  </div>
                </div>
                <div class="sign-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded">Créer un compte</button>
                    </div>
                </div>
            <% end %>
            <!--/ Register form -->

            <!-- Content text -->
            <br/>
            <p class="text-muted text-center animated fadeInUp">Vous avez déjà un compte ? <a href="/login"> Se connecter</a></p>
            <!--/ Content text -->

        </div>
        <!--/ END SIGN WRAPPER -->

    </section><!-- /#wrapper -->
    <!--/ END WRAPPER -->

</body>
