<link href="/css/pages/landing.css" rel="stylesheet">

<body class="page-sound">


  <!-- START @WRAPPER -->
  <div id="wrapper">

    <!-- START @TOP BAR -->
    <div id="top-bar" style="background-color:black; opacity:1;">
      <div class="inner">
        <nav class="navbar" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#"><img src="/assets/logo-white.png" alt="..."/></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class=" navbar-live" id="navbar-sign">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/home/siteweb">Votre Site</a></li>
              <li><a href="/home/tarifs">Tarifs</a></li>
              <li><a href="/home/faq">FAQ</a></li>
              <li><a href="/login">Connexion</a></li>
              <li><a href="/signup">Inscription</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
  <!--/ END TOP BAR -->

    <!-- START @TOP REASONS -->
    <div id="top-reasons" style="padding-top: 50px;">
      <div class="inner">
        <div class="row">
          <div class="col-md-12">
            <body>
            <H1 class="text-center">SECURITE ET FAQ</h1>


            <p><strong>Politique anti-spam</strong></p>
            <p class="text-center text-warning">Myboutique ne tolère pas les spams</p></br>

            <dl class="dl-horizontal">
              <dt class="text-success">Emails acceptés </dt>
              <dd>Les adresses des clients qui donnent leurs adresses emails pour recevoir vos informations.</dd>

              <dt class="text-danger">Emails  refusés :</dt>
              <dd>Bases de données achetées ou louées et adresses e-mails qui ont été copiées ou trouvées sur internet.
                Tout utilisateur qui enfreint cette politique anti-spam  sera suspendu.</dd>

            </dl>

            <div class="sample-wrapper">
              <h4>Questions fréquentes</h4>
              <dl>
                <dt>1) Les envois sont-ils bien en illimités ?</dt>
                <dd>Votre nombre d’envois est effectivement illimité pour les commerçants. Le nombre sera limité à 10 000 par mois au début dans l’attente de vérification que vous n’êtes pas revendeur de la solution ou que vous n’agissez pas pour le compte de plusieurs établissements.</dd>

                <dt>2) Combien de newsletters est-il possible de créer sur mon compte ?</dt>
                <dd>Vous pouvez créer et envoyer autant de newsletters dont vous avez besoin.</dd>

                <dt>3) Quelle est la période d'engagement pour les abonnements payants ?</dt>
                <dd>L'ensemble des abonnements sont sans engagement, ils sont renouvelables tacitement chaque mois, vous pouvez résilier sur simple demande à notre équipe.</dd>

                <dt>4) Que dois-je faire pour résilier mon abonnement ?</dt>
                <dd>Pour résilier votre compte et supprimer toutes vos données, vous devez envoyer votre demande à contact@maboutique.pro </dd>
              </dl>
            </div>

</body>
          </div>
        </div>
      </div>
    </div>
    <!--/ END TOP REASONS -->



    <!-- START @FOOTER -->
    <div id="footer">
      <div class="inner">
        <div class="copyright">
          &copy; maboutique.net 2015 ·
          <a href=<%= home_cgv_path %> target="_blank">C.G.V.</a>·
          <a href=<%= home_contact_path %> target="_blank">Contactez-nous</a>
        </div>
      </div>
    </div>
    <!--/ END FOOTER -->

  </div>
  <!--/ END WRAPPER -->

  <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
  <!-- START @CORE PLUGINS -->
  <script src="/global/plugins/jquery/jquery.min.js"></script>
  <script src="/global/plugins/jquery-cookie/jquery.cookie.js"></script>
  <script src="/global/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/global/plugins/jquery-niceScroll/jquery.nicescroll.min.js"></script>
  <script src="/global/plugins/jpreloader-v2/js/jpreloader.min.js"></script>
  <script src="/global/plugins/jquery-easing/jquery.easing.1.3.js"></script>
  <!--/ END CORE PLUGINS -->

  <!-- START @PAGE LEVEL PLUGINS -->
  <script src="/global/plugins/jquery-waypoints/waypoints.min.js"></script>
  <script src="/global/plugins/jquery-waypoints/shortcuts/sticky-elements/waypoints-sticky.min.js"></script>
  <script src="/global/plugins/viewport-resizer/js/viewport-resizer.min.js"></script>
  <!--/ END PAGE LEVEL PLUGINS -->

  <!-- START @PAGE LEVEL SCRIPTS -->
  <script src="/js/pages/blankon.index.js"></script>
  <!--/ END PAGE LEVEL SCRIPTS -->
  <!--/ END JAVASCRIPT SECTION -->

</body>
<!--/ END BODY -->
