  <link href="/css/pages/landing.css" rel="stylesheet">
            <body class="page-sound">


        <!-- START @WRAPPER -->
        <div id="wrapper">

            <!-- START @TOP BAR -->
            <div id="top-bar">
                <div class="inner">
                    <nav class="navbar" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#"><img src="/assets/logo-white.png" /></a>
                            </div>
                            <p class="navbar-text navbar-left" style="color:white;margin-left: 70px;"> Informations : 06.03.86.44.16 </p>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class=" navbar-live" id="navbar-sign">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/home/siteweb">Votre Site</a></li>
                                    <li><a href="/home/tarifs">Tarifs</a></li>
                                    <li><a href="/home/faq">FAQ</a></li>
                                    <li><a href="/login">Connection</a></li>
                                    <li><a href="/signup">Inscription</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
            <!--/ END TOP BAR -->

            <!-- START @BANNER -->
            <div id="banner" class="banner-view" data-target="height-content">
                <div class="banner-overlay"></div>
                <div class="inner">

                  <div class="row">
                    <div class="col-md-12">

                      <h1><strong>Commerçants et Restaurateurs</strong></h1>
                      <h1>Vos emails publicitaires illimitées, faciles et efficaces</h1>
                      <h2>

                    </div>
                  </div>

                    <div class="row">
                        <div class="col-md-12">
                                  <div class="col-md-4 text-center" style="margin-top:5%;">
                                    <i class="fa fa-paper-plane-o fa-5x" style="color:blue;text-shadow: 2px 2px #FFFFFF;"></i></br>
                                    <span>CAMPAGNE MAIL</span>
                                  </div>

                                  <div class="col-md-4 text-center" style="margin-top:5%;">
                                    <i class="fa fa-comments-o fa-5x"></i></br>
                                    <span>RESTER EN CONTACT</span>
                                  </div>

                                  <div class="col-md-4 text-center" style="margin-top:5%;">
                                    <i class="fa fa-mobile fa-5x" style="color:red;text-shadow: 2px 2px #FFFFFF;"></i></br>
                                    <span>CAMPAGNE SMS</span>
                                  </div>
                            </div>
                        </div>


                        <div class="row">
                          <div class="col-md-12">

                            <div class="col-md-12 text-center" style="margin-top:2%;">
                              <span><strong><h3>Maboutique.pro est un site français qui défend le commerce indépendant</h3></strong></span>
                            </div>

                          </div>
                        </div>




                    </div>
                </div>
            </div>
            <!--/ END BANNER -->

            <!-- START @TOP REASONS -->
            <div id="top-reasons">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-12 text-center">
                          <h2><strong>Réussir aujourd’hui c’est être attractif et communiquer</strong></h2>
                           <H3>La solution la plus simple et économique pour susciter l’envie, annoncer vos
                            offres et promotions, récompenser vos clients et relancer votre activité</h3>
                            <h3>COMMUNIQUER, C’EST GAGNER !</h3>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                    <span>CAMPAGNE MAIL</span>
                                    <ul class="list-unstyled">
                                      <li>Mails personnalisés</li>
                                      <li>Ajoutez photos, offres, promotions</li>
                                      <li>Ciblages de clients grâce aux filtres</li>
                                      <li>Envois illimités</li>
                                      <li>Contacts Illimités</li>
                                      <li>Délivrabilité optimale</li>
                                      <li>Conditions légales et anti spams</li>
                                      <li>Adaptées aux tablettes et smartphones</li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                    <i class="fa fa-mobile fa-5x"></i>
                                    <span>CAMPAGNE SMS</span>
                                    <ul class="list-unstyled">
                                      <li>Choisissez la clientèle ciblée grâce à nos filtres</li>
                                      <li>Elaborez votre offre promotionnelle</li>
                                      <li>Envois illimités sur contacts illimités</li>
                                      <li>Coût unitaire hors promotion 6cts/€</li>
                                      <li>100 SMS de bienvenue offerts pour votre 1ère campagne</li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                    <i class="fa fa-files-o fa-5x"></i>
                                    <span>FICHIER CLIENTS</span>
                                    <ul class="list-unstyled">
                                      <li>Alimentez facilement votre fichier client</li>
                                      <li>Segmentation par sexe, age...</li>
                                      <li>Vous êtes l'unique propriétaire de ce fichier</li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                    <i class="fa fa-heart fa-5x"></i>
                                    <span>MAIL D'ANNIVERSAIRE</span>
                                    <ul class="list-unstyled">
                                      <li>Elaborez un mail spécifique pour fêter l'anniversaire de vos clients. Profitez de l'occasion pour mettre en avant une offre</li>
                                      <li>Ce mail nominatif est envoyé automatiquement à chacun de vos clients à sa date d'anniversaire.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ END TOP REASONS -->

            <!-- START @BEAUTIFUL DESIGN -->
            <div class="" style="margin-top:80px;">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Important !</h2>
                            <p>Communiquez avec vos clients uniquement sur des offres !Le client exige aujourd’hui de faire une bonne affaire, d’acheter en promotion ou de bénéficier d’une offre spéciale.</p>
                        </div>
                        <div class="col-md-7">
                            <img src="/global/img/default_template/cave_a_vin.jpg" class="img-responsive" alt="beautiful design"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ END BEAUTIFUL DESIGN -->

            <!-- START @RESPONSIVE LAYOUT -->
            <div class="feature">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Astucieux !</h2>
                            <p>Récompensez les clients qui rentrent dans votre fichier client (par exemple avec une petite remise),  un client rentré dans un fichier a 3 fois plus de chances de revenir qu’un autre !</p>
                        </div>
                        <div class="col-md-7">
                            <img src="/global/img/default_template/mailanniv.PNG" class="img-responsive" alt="responsive layout"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ END RESPONSIVE LAYOUT -->

            <!-- START @PAGE INCLUDE -->
            <div style="margin-top:100px;">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Des idées !</h2>
                            <p>Prenez exemple sur les chaines et franchises autour de vous qui sont attractives  toute l’année et pas uniquement en période de soldes.</p>
                        </div>
                        <div class="col-md-7">
                            <img src="/global/img/default_template/salon_coiffure.jpg" class="img-responsive" alt="page include"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ END PAGE INCLUDE -->


            <!-- START @FOOTER -->
            <div id="footer">
                <div class="inner">
                    <div class="copyright">
                        &copy; maboutique.pro 2015 ·
                        <a href=<%= home_cgv_path %> target="_blank">C.G.V.</a>·
                        <a href=<%= home_contact_path %> target="_blank">Contactez-nous</a>
                    </div>
                </div>
            </div>
            <!--/ END FOOTER -->

        </div>
        <!--/ END WRAPPER -->

        <!-- START @BACK TOP -->
        <div id="back-top" class="animated pulse">
            <i class="fa fa-angle-up"></i>
        </div>
        <!--/ END BACK TOP -->

        <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
        <!-- START @CORE PLUGINS -->
        <script src="/global/plugins/jquery-cookie/jquery.cookie.js"></script>
        <script src="/global/plugins/jquery-niceScroll/jquery.nicescroll.min.js"></script>
        <script src="/global/plugins/jpreloader-v2/js/jpreloader.min.js"></script>
        <script src="/global/plugins/jquery-easing/jquery.easing.1.3.js"></script>
        <!--/ END CORE PLUGINS -->

        <!-- START @PAGE LEVEL PLUGINS -->
        <script src="/global/plugins/jquery-waypoints/waypoints.min.js"></script>
        <script src="/global/plugins/jquery-waypoints/shortcuts/sticky-elements/waypoints-sticky.min.js"></script>
        <script src="/global/plugins/viewport-resizer/js/viewport-resizer.min.js"></script>
        <!--/ END PAGE LEVEL PLUGINS -->

        <!-- START @PAGE LEVEL SCRIPTS -->
        <script src="/js/pages/blankon.index.js"></script>
        <!--/ END PAGE LEVEL SCRIPTS -->
        <!--/ END JAVASCRIPT SECTION -->

    </body>
    <!--/ END BODY -->
