<link href="/css/pages/landing.css" rel="stylesheet">
<body class="page-sound">


  <!-- START @WRAPPER -->
  <div id="wrapper">

    <!-- START @TOP BAR -->
    <div id="top-bar">
      <div class="inner">
        <nav class="navbar" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/logo-white.png" alt="..."/></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class=" navbar-live" id="navbar-sign">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Tarifs</a></li>
              <li><a href="/login">Connexion</a></li>
              <li><a href="/signup">Inscription</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
  <!--/ END TOP BAR -->

  <!-- START @BANNER -->
  <div id="banner" class="banner-view" data-target="height-content">
    <div class="banner-overlay"></div>
    <div class="inner">
      <div class="row">
        <div class="col-md-12">
          <h1><strong>Décourvrez nos prix conccurentielle</span></h1>

            <div class="col-md-4 col-sm-4">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h2 class="panel-title"><strong>19€HT/Mois</strong></h2>
                </div><!-- /.panel-heading -->
                <div class="panel-body" style="color:black;">
                  <p>Sans aucun engagement de durée</p>

                  <p>Contacts illimité</p>

                  <p>10 000 mails mensuels</p>

                  <p>100 SMS offert pour votre 1 ère campagne</p>
                </div><!-- /.panel-body -->
              </div><!-- /.panel -->
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h2 class="panel-title"><strong>195 euros ht/an</strong></h2>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                  <p>Sans aucun engagement de durée</p>

                  <p>Contacts illimité</p>

                  <p>10 000 mails mensuels</p>

                  <p>100 SMS offert pour votre 1 ère campagne</p>
                </div><!-- /.panel-body -->
              </div><!-- /.panel -->
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h2 class="panel-title"><strong>Achat de SMS</strong></h2>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                  <p>Sans aucun engagement de durée</p>

                  <p>Contacts illimité</p>

                  <p>10 000 mails mensuels</p>

                  <p>100 SMS offert pour votre 1 ère campagne</p>
                </div><!-- /.panel-body -->
              </div><!-- /.panel -->
            </div>




        </div>
      </div>
        <a href="#" id="to-reasons" class="arrow"><i class="fa fa-angle-down"></i></a>
      </div>
  </div>
    <!--/ END BANNER -->

    <!-- START @TOP REASONS -->
    <div id="top-reasons">
      <div class="inner">
        <div class="row">
          <div class="col-md-12">
            <h2>COMMERCANTS, RESTAURATEURS vos campagnes publicitaires faciles et efficaces</h2>
            <p class="text-muted">
              Une seule solution pour répondre à tous vos besoins en marketing relationnel. SendinBlue propose plusieurs modules indépendants, libre à vous d'utiliser ce dont vous avez besoin : Campagnes marketing, Emails transactionnels ou SMS transactionnels
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--/ END TOP REASONS -->



    <!-- START @FOOTER -->
    <div id="footer">
      <div class="inner">
        <div class="copyright">
          &copy; Blankon 2014 ·
          <a href="http://djavaui.com/about-us" target="_blank">About us</a>·
          <a href="mailto:maildjavaui@gmail.com" target="_blank">Contact us</a>·
          <a href="http://djavaui.com/" target="_blank">Our website</a>·
        </div>
      </div>
    </div>
    <!--/ END FOOTER -->

  </div>
  <!--/ END WRAPPER -->

  <!-- START @BACK TOP -->
  <div id="back-top" class="animated pulse">
    <i class="fa fa-angle-up"></i>
  </div>
  <!--/ END BACK TOP -->

  <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
  <!-- START @CORE PLUGINS -->
  <script src="/global/plugins/jquery/jquery.min.js"></script>
  <script src="/global/plugins/jquery-cookie/jquery.cookie.js"></script>
  <script src="/global/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/global/plugins/jquery-niceScroll/jquery.nicescroll.min.js"></script>
  <script src="/global/plugins/jpreloader-v2/js/jpreloader.min.js"></script>
  <script src="/global/plugins/jquery-easing/jquery.easing.1.3.js"></script>
  <!--/ END CORE PLUGINS -->

  <!-- START @PAGE LEVEL PLUGINS -->
  <script src="/global/plugins/jquery-waypoints/waypoints.min.js"></script>
  <script src="/global/plugins/jquery-waypoints/shortcuts/sticky-elements/waypoints-sticky.min.js"></script>
  <script src="/global/plugins/viewport-resizer/js/viewport-resizer.min.js"></script>
  <!--/ END PAGE LEVEL PLUGINS -->

  <!-- START @PAGE LEVEL SCRIPTS -->
  <script src="/js/pages/blankon.index.js"></script>
  <!--/ END PAGE LEVEL SCRIPTS -->
  <!--/ END JAVASCRIPT SECTION -->

</body>
