<link href="/css/pages/landing.css" rel="stylesheet">
<body class="page-sound">


  <!-- START @WRAPPER -->
  <div id="wrapper">

    <!-- START @TOP BAR -->
    <div id="top-bar">
      <div class="inner">
        <nav class="navbar" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/logo-white.png" alt="..."/></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class=" navbar-live" id="navbar-sign">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/home/siteweb">Votre Site</a></li>
              <li><a href="/home/tarifs">Tarifs</a></li>
              <li><a href="/home/faq">FAQ</a></li>
              <li><a href="/login">Connexion</a></li>
              <li><a href="/signup">Inscription</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
  <!--/ END TOP BAR -->

  <!-- START @BANNER -->
  <div id="banner" class="banner-view" data-target="height-content">
    <div class="banner-overlay"></div>
    <div class="inner">
      <div class="row">
        <div class="col-md-12">
          <h1><strong>Découvrez nos prix concurentiels</span></h1>

            <div class="col-md-6 col-sm-4">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h2 class="panel-title"><strong>19€ HT/Mois</strong></h2>
                </div><!-- /.panel-heading -->
                <div class="panel-body" style="color:black;">
                  <p>Sans aucun engagement de durée</p>

                  <p>Contacts illimités</p>

                  <p>Emails Illimités</p>

                  <p>100 SMS offert pour votre 1 ère campagne</p>
                </div><!-- /.panel-body -->
              </div><!-- /.panel -->
            </div>

            <div class="col-md-6 col-sm-4">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h2 class="panel-title"><strong>190€ HT/an</strong></h2>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                  <p>Sans aucun engagement de durée</p>

                  <p>Contacts illimité</p>

                  <p>Contacts illimités</p>

                  <p>100 SMS offert pour votre 1 ère campagne</p>
                </div><!-- /.panel-body -->
              </div><!-- /.panel -->
            </div>

        </div>
      </div>
        <a href="#" id="to-reasons" class="arrow"><i class="fa fa-angle-down"></i></a>
      </div>
  </div>
    <!--/ END BANNER -->



    <!-- START @TOP REASONS -->
    <div id="top-reasons text-center">
      <div class="inner">
        <div class="row text-center">

        <h1> UNE TARIFICATION SIMPLE ET SANS SURPRISE </h1></br>


        </div>

        <div class="row text-center">
          <div class="col-md-6">

            <h2>TARIFS SMS</h2>

            <p> Acheter crédits SMS et utiliser les simplement lors de vos campagnes.</p>

          </div>
          <div class="col-md-6 ">

          </br><i class="fa fa-mobile fa-5x"></i>
            <h3>0.06cts/SMS</h3>

          </div>
        </div>

        <hr></hr>

        <div class="row">

        </div>

        <div class="row text-center">

          <div class="col-md-6 text-center">

          </br><i class="fa fa-desktop fa-5x"></i>

            <h3>Seulement 10€/Mois</h3>

          </div>

          <div class="col-md-6">

            <h2>PAS DE SITE INTERNET ?</h2>

            <p>Nous vous proposons la création d'un site vitrine, modèle standard, pour présenter votre boutique et gagner en visibilité.</p>
            <p><a href="/home/siteweb" type="" >En savoir plus</a></p>


          </div>



        </div>

      </div>
    </div>
    <!--/ END TOP REASONS -->



    <!-- START @FOOTER -->
    <div id="footer">
      <div class="inner">
        <div class="copyright">
          &copy; Maboutique.pro 2015 ·
          <a href="/home/cgv" target="_blank">C.G.V</a>·
          <a href="/home/contact" target="_blank">Nous contacter</a>·
        </div>
      </div>
    </div>
    <!--/ END FOOTER -->

  </div>
  <!--/ END WRAPPER -->

  <!-- START @BACK TOP -->
  <div id="back-top" class="animated pulse">
    <i class="fa fa-angle-up"></i>
  </div>
  <!--/ END BACK TOP -->

  <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
  <!-- START @CORE PLUGINS -->
  <script src="/global/plugins/jquery/jquery.min.js"></script>
  <script src="/global/plugins/jquery-cookie/jquery.cookie.js"></script>
  <script src="/global/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/global/plugins/jquery-niceScroll/jquery.nicescroll.min.js"></script>
  <script src="/global/plugins/jpreloader-v2/js/jpreloader.min.js"></script>
  <script src="/global/plugins/jquery-easing/jquery.easing.1.3.js"></script>
  <!--/ END CORE PLUGINS -->

  <!-- START @PAGE LEVEL PLUGINS -->
  <script src="/global/plugins/jquery-waypoints/waypoints.min.js"></script>
  <script src="/global/plugins/jquery-waypoints/shortcuts/sticky-elements/waypoints-sticky.min.js"></script>
  <script src="/global/plugins/viewport-resizer/js/viewport-resizer.min.js"></script>
  <!--/ END PAGE LEVEL PLUGINS -->

  <!-- START @PAGE LEVEL SCRIPTS -->
  <script src="/js/pages/blankon.index.js"></script>
  <!--/ END PAGE LEVEL SCRIPTS -->
  <!--/ END JAVASCRIPT SECTION -->

</body>
