<% if flash[:error] || flash[:notice] || flash[:alert] %>
  <div class="alert alert-warning">
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  </div>
<% end %>

    <body class="page-sound bg-light">

        <!-- START @WRAPPER-->
        <div id="wrapper">
            <!-- START @SIGN WRAPPER -->
            <div class="sign-wrapper">

                <!-- Brand -->
                <div class="brand animated fadeInDown">
                    <img src="/assets/logo-ma-boutique.png" alt="brand logo"/>
                </div>
                <!--/ Brand -->

                <!-- Login form -->
                <%= form_tag("/login", {id: "/login", class: "form-horizontal animated zoomIn shadow rounded"}) do |f| %>
                    <div class="sign-header">
                        <div class="form-group">
                            <div class="sign-text">
                                <span>Connection</span>
                            </div>
                        </div><!-- /.form-group -->
                    </div><!-- /.sign-header -->
                    <div class="sign-body">
                        <div class="form-group">
                            <div class="input-group input-group-lg rounded">
                                <input type="text" class="form-control input-sm" placeholder="Email " name="user[email]">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <div class="input-group input-group-lg rounded">
                                <input type="password" class="form-control input-sm" placeholder="Mot de passe" name="user[password]">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div><!-- /.form-group -->
                    </div><!-- /.sign-body -->
                    <div class="sign-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="ckbox ckbox-theme">
                                        <input id="rememberme" type="checkbox" name="user[remember_me]">
                                        <label for="rememberme" class="rounded">Se souvenir de moi</label>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a href="/users/password/new" title="lost password">Mot de passe oublié ?</a>
                                </div>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded" id="login-btn">Connexion</button>
                        </div><!-- /.form-group -->
                    </div><!-- /.sign-footer -->
                <% end %>
                <!--/ Login form -->

                <!-- Content text -->
                <br/>
                <p class="text-muted text-center animated fadeinup">Vous n'avez pas encore de compte ? <a href="/signup">S'inscrire</a></p>
                <!--/ Content text -->

            </div><!-- /#sign-wrapper -->
            <!--/ END SIGN WRAPPER -->
        </div><!-- /#wrapper -->
    </body>
    <!-- END BODY -->
