            <!-- START @PAGE CONTENT -->
            <section id="page-content">

                <!-- Start page header -->
                <!-- /.header-content -->
                <!--/ End page header -->

                <!-- Start body content -->
                <div class="body-content animated fadeIn">

                    <div class="row">
                        <div class="col-md-12">

                            <!-- Start basic validation -->
                            <div class="panel rounded shadow">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h3 class="panel-title">Ajouter un contact</h3>
                                    </div><!-- /.pull-left -->

                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body no-padding">

                                    <%= form_tag("/contact", {class: "form-horizontal form-bordered"}) do |f| %>
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Email<span class="asterisk">*</span></label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control input-sm" name="contact[email]" placeholder="email@contact.com" required>
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Nom</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control input-sm" name="contact[last_name]" placeholder="Dupont">
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Prénom</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control input-sm" name="contact[first_name]" placeholder="Jean">
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Date de naissance</label>
                                                <div class="col-sm-1">
                                                    <input type="number"  min="1" max="31" class="form-control input-sm" name="contact[day]" placeholder="01" >
                                                </div>
                                                <div class="col-sm-1">
                                                    <input type="number"  min="1" max="12" class="form-control input-sm" name="contact[month]" placeholder="01" >
                                                </div>
                                                <div class="col-sm-1">
                                                    <input type="number" maxlength="4" min="1900" max="<%= Time.now.year  %>" class="form-control input-sm" name="contact[year]" placeholder="1990" >
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Téléphone</label>
                                                <div class="col-sm-7">
                                                    <input type="text"  maxlength="2" class="form-control input-sm" name="contact[phone]" placeholder="0853231245">
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">VIP</label>
                                                <div class="col-sm-7">
                                                    <input type="checkbox" name=contact[vip]> Ajouter ce client en tant que VIP
                                                </div>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.form-body -->
                                        <div class="form-footer">
                                            <div class="col-sm-offset-3">
                                                <button type="submit" class="btn btn-primary">Ajouter le contact</button>
                                            </div>
                                        </div><!-- /.form-footer -->
                                    <% end %>

                                </div><!-- /.panel-body -->
                            </div><!-- /.panel -->
                            <!--/ End basic validation -->

                        </div>
                    </div><!-- /.row -->

                </div><!-- /.body-content -->
                <!--/ End body content -->

            </section><!-- /#page-content -->
            <!--/ END PAGE CONTENT -->

            <!-- START @SIDEBAR RIGHT -->
            <aside id="sidebar-right">

                <div class="panel panel-tab">
                    <div class="panel-heading no-padding">
                        <div class="pull-right">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a href="#sidebar-profile" data-toggle="tab">
                                        <i class="fa fa-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#sidebar-layout" data-toggle="tab">
                                        <i class="fa fa-cogs"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#sidebar-setting" data-toggle="tab">
                                        <i class="fa fa-paint-brush"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#sidebar-chat" data-toggle="tab">
                                        <i class="fa fa-comments"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>

            </aside><!-- /#sidebar-right -->
            <!--/ END SIDEBAR RIGHT -->

        </section><!-- /#wrapper -->
